.Uploadpost {
    text-decoration: none;
    
}

.UploadpostContent {
    width: 30rem;
    padding: 1.5rem;
}

.UploadpostContent .Form .Buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.UploadpostContent .Form input {
    display: block;
    width: 100%;
    box-sizing: border-box;
    margin: 0.5rem 0;
}