.Posts {
    display: flex;
    position: relative;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 75%;
    margin: auto;
    padding: 2rem 0;
}

.Posts .Mypost {
    width: 20rem;
    margin: 0.5rem;
    height: 20rem;
}

.Posts .Mypost .Image {
    width: 20rem;
    height: 20rem;
}

.Posts .Mypost img {
    object-fit: cover;
}

.Mypost .Overlay {
    position: absolute;
    box-sizing: border-box;
    width: 20rem;
    height: 20rem;
    background-color: rgba(0, 0, 0, 0.4);
    opacity: 0;
}

.Mypost:hover .Overlay {
    opacity: 1;
}

