.Profile {
    width: 80%;
    justify-content: center;
    align-items: center;
    margin: auto;
    height: 100%;
}

.Profile .PhotoandSummary {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.Profile .UserContent {
    display: flex;
    justify-content: center;
    margin: 0 5px;
}

.Profile .UserContent Link {
    text-decoration: none;
}

.Profile .UserMedia {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}