.Profilepic {
    height: 10rem;
    width: 10rem;
}

.Profilepic .Image {
    width: 100%;
    height: 100%;
    text-align: center;
}

.Profilepic .Image:hover {
    cursor: pointer;
}

.Profilepic img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 100%;
    text-align: center;
    display: flex;
    align-items: center;
}